.marketplace {
  &__search-form {
    font-size: 14px;
    color: #ffffff;
  }
}

.job {
  height: 270px;
  text-align: center;
  background-color: #BFBFBF;
  background-size: cover;
  background-position: center center;
  position: relative;
  cursor: pointer;
  &:hover {
    opacity: .9;
    .link {
      display: none;
    }
    .apply {
      display: flex;
      opacity: 1;
    }
  }
}

.overlay {
  background-color: rgba(0,0,0,.25);
}

.link {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  width: 100%;
}

.apply {
  display: none;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  color: #ffffff;
  transition: all 0.2s;
  background: #22aae4;
  padding: 10px;
}

.content {
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 24px;
  width: 100%;
  height: 100%;
}

.bottom {
  font-size: 13px;
}

.top {
  flex-grow: 1;
  align-items: center;
  align-self: center;
  display: flex;
}
