.w-auto {
  width: auto !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 50% !important;
}

@media screen and (min-width: $breakpoint-sm) {
  .w-sm-auto {
    width: auto !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-75 {
    width: 50% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .w-md-auto {
    width: auto !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-75 {
    width: 50% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .w-lg-auto {
    width: auto !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-75 {
    width: 50% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .w-xl-auto {
    width: auto !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-75 {
    width: 50% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }
}
