<div class="df-loader-container"
     *ngIf="isLoading">
  <i class="df-loader"></i>
</div>
<div class="p-3 p-md-5"
     *ngIf="!isLoading">
  <app-jira-settings *ngIf="isModalVisible(metricType.JIRA)"
                     [metricSetup]="activeMetric"
                     [jiraUsers]="users"
                     [teamId]="teamId"
                     [managerId]="managerId"
                     [isTeamOwnerOrAdmin]="isTeamOwnerOrAdmin()"
                     (showSources)="showSettingSources()"
                     (close)="onClose()"></app-jira-settings>
  <app-zendesk-settings *ngIf="isModalVisible(metricType.ZENDESK)"
                        [users]="users"
                        (showSources)="showSettingSources()"
                        (close)="onClose()"></app-zendesk-settings>
  <app-salesforce-settings *ngIf="isModalVisible(metricType.SALESFORCE)"
                           [users]="users"
                           (update)="onSettingChange()"
                           [teamId]="teamId"
                           [isTeamOwnerOrAdmin]="isTeamOwnerOrAdmin()"
                           [metricSetup]="activeMetric"
                           (showSources)="showSettingSources()"
                           (close)="onClose()"></app-salesforce-settings>
  <app-desk-dot-com-settings *ngIf="isModalVisible(metricType.DESKDOTCOM)"
                             [users]="users"
                             (showSources)="showSettingSources()"
                             (close)="onClose()"></app-desk-dot-com-settings>
  <app-google-sheets-settings *ngIf="isModalVisible(metricType.GOOGLESHEETS)"
                              [metricSetup]="activeMetric"
                              (update)="onSettingChange()"
                              [teamId]="teamId"
                              [isTeamOwnerOrAdmin]="isTeamOwnerOrAdmin()"
                              (showSources)="showSettingSources()"
                              (close)="onClose()"></app-google-sheets-settings>
  <app-manual-settings *ngIf="isModalVisible(metricType.MANUAL)"
                       (showSources)="showSettingSources()"
                       (update)="onSettingChange()"
                       [teamId]="teamId"
                       [managerId]="managerId"
                       [metricSetup]="activeMetric"
                       [isTeamOwnerOrAdmin]="isTeamOwnerOrAdmin()"
                       (close)="onClose()"></app-manual-settings>
  <app-settings-sources *ngIf="showSources"
                        (changeModel)="onChangeModal($event)"></app-settings-sources>
</div>
