@import "variables";

.ie-fix {
  /*This will work for IE10+*/
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .meet-your-advocate__body .col-12.p-0 {
      max-width: 100%;

      & > div:first-child, & > div:last-child {
        max-width: 50%;
      }

      & > div:last-child {
        img {
          height: 65%;
        }
      }
    }
  }
}

.meet-your-advocate__title {
  border-bottom: $border;
}

.meet-your-advocate__body {
  /*This will work for IE10+*/
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .skype {
      min-height: 122px;
    }
  }
  /*This will work for Safari 10.1+*/
  @media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
      .skype {
        min-height: 122px;
      }
      .profile {
        min-height: 60px;
      }
    }
  }
  .skype,
  .profile {
    max-width: 320px;

    button {
      width: 50%;
    }
  }
}

.success-alert {
  border-width: 1px;
  border-color: $au-green;
  border-style: solid;
  background-color: #ffffff;
}

@media screen and (max-width: $breakpoint-md) {
  .meet-your-advocate__body {
    .skype,
    .profile {
      max-width: auto;
      min-width: 100%;
    }
  }
}
