.year-selector {
  min-width: 100px;
}

.chart-tooltip {
  padding: 4px 6px;

  color: #fff;
  border-radius: 4px;
  background: #333;

  font-size: 13px;
}

.df-line-chart {
  width: 100%;
  height: 438px;
}
