<div class="df-loader-container" *ngIf="isSending">
  <i class="df-loader"></i>
</div>
<ng-container *ngIf="!isSending">
  <div class="container text-center">
    <p class="text-center">
      <img src="/assets/images/marketplace/highway_email.png" width="100px" height="100px" />
    </p>
    <div>
      <h2>First let’s verify your email address</h2>
      <p>Thanks for applying to Crossover. We provide companies with a marketplace of the best talent in the world. To qualify
        as such, you need to go through a series of tests to measure your skills. But before, you need to verify your email
        address.
      </p>
      <p>You will receive an email. Click on the link inside the email to proceed to the next step.</p>
    </div>
    <div>
      Haven't received it? Click
      <span (click)="resend()" class="blue pointer">here</span> to resend.
    </div>
  </div>
</ng-container>
