<h5>
  This site uses cookies to ensure you get the best experience on our website. For more information on cookies, please read our
  <a href="https://www.crossover.com/privacy-policy/" target="_blank">Privacy Policy</a>.
</h5>
<div class="d-flex w-100 justify-content-end">
  <button class="mt-2 mr-3"
          df-button
          type="button"
          theme="success" (click)="close()">I agree</button>
  <button class="mt-2"
          df-button
          type="button"
          theme="info" (click)="openPreferences()">Cookie Preferences</button>
</div>
