@import "variables";

.written-evaluation__title {
  border-bottom: $border;
}

::ng-deep {
  body .df-group-toggle__item {
    flex-grow: 0 !important;
    width: 48px !important;
  }

  .df-group-toggle__text {
    margin-left: 1px !important;
    margin-right: 5px !important;
  }

  @media screen and (min-width: 769px) {
    body .df-group-toggle__item {
      flex-grow: 0 !important;
      width: auto !important;
    }

    .df-group-toggle__text {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
  }
}
