<h2 class="section__header">My settings</h2>
<!-- <div class="tabset row no-gutters">
  <a routerLinkActive="tabset__link--active" class="col-sm-3 tabset__link" routerLink="account-info">
    <span class="tabset__text">Account Info</span>
  </a>
  <a routerLinkActive="tabset__link--active" class="col-sm-3 tabset__link" routerLink="location-info">
    <span class="tabset__text">Location Info</span>
  </a>
  <a routerLinkActive="tabset__link--active" class="col-sm-3 tabset__link" routerLink="password">
    <span class="tabset__text">Password</span>
  </a>
  <a routerLinkActive="tabset__link--active" class="col-sm-3 tabset__link" routerLink="security-question">
    <span class="tabset__text">Security Question</span>
  </a>
</div> -->
<div class="overflow-y">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
