<div class="page-content">
  <h2 class="my-5">Welcome to Crossover Support</h2>
  <div class="row">
    <div class="col-lg-4">
      <div class="support-item my-2 justify-content-center justify-content-md-start">
        <div class="support-icon support-icon--active d-flex align-items-center justify-content-center">
          <i class="fa fa-envelope-o fa-5x"></i>
        </div>
        <div class="support-image">
          <div class="support-image__background" style="background-image: url(/assets/images/woman-with-laptop.jpg)"></div>
          <div class="support-image__stripes"></div>
          <div class="support-image__message">
            <h4 class="mt-2">Message</h4>
            Message us <a href="https://support.crossover.com" target="_blank">here</a>.
            We will get back to you within 24 hours.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="support-item my-2 justify-content-center justify-content-md-center">
        <div class="support-icon d-flex align-items-center justify-content-center">
          <i class="fa fa-phone fa-5x"></i>
        </div>
        <div class="support-image">
          <div class="support-image__background" style="background-image: url(/assets/images/phone-call.jpg)"></div>
            <div class="support-image__stripes"></div>
          <div class="support-image__message">
            <h4 class="mt-2">Phone</h4>
            <h4 class="support-image__comming-soon">Coming soon...</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="support-item my-2 justify-content-center justify-content-md-end">
        <div class="support-icon d-flex align-items-center justify-content-center">
          <i class="fa fa-commenting-o fa-5x"></i>
        </div>
        <div class="support-image">
          <div class="support-image__background" style="background-image: url(/assets/images/instant-messaging.jpg)"></div>
          <div class="support-image__stripes"></div>
          <div class="support-image__message">
              <h4 class="mt-2">Chat</h4>
              <h4 class="support-image__comming-soon">Coming soon...</h4>
            </div>
        </div>
      </div>
    </div>
  </div>
  <app-markdown-viewer class="mt-3 d-block" [markdown]="markdown$ | async"></app-markdown-viewer>
</div>
