<div class="au-modal-header p-3">
  <h5 class="d-flex align-items-center w-100 m-0">
    <span class="text-left">
      Notes about {{ modal.data.candidateName }} ({{ modal.data.jobTitle }})
    </span>
    <i (click)="close()"
       class="au-modal-close fa fa-times">
    </i>
  </h5>
</div>
<div class="page-scroll" *ngIf="!loading; else loader">
  <app-page-alert *ngIf="error"
                  [text]="error"
                  class="mb-3 pull-left w-100">
  </app-page-alert>
  <div class="pull-left w-100 px-4">
    <div *ngIf="notes.length === 0" class="my-3 text-left">
      No notes about this candidate yet
    </div>
    <div *ngFor="let note of notes"
         class="note note--info mb-2 text-left">
      <small>
        {{ note.sender.printableName }} - {{ avatarTypes[note.sender.type] }}
        -
        {{ note.createdOn | date: 'MMM dd, yyyy h:mm a' }}
      </small>
      <p>{{ note.content }}</p>
    </div>
  </div>
  <ng-container *ngIf="isAccountManager$ | async">
    <form [formGroup]="form" class="standard-form w-100 px-2 pull-left">
      <div class="d-flex w-100 pull-left mb-2">
        <div class="d-flex flex-column w-100 col">
          <label>
            Manager
          </label>
          <df-select formControlName="selectedManager"
                     placeholder="Please select a manager"
                     class="text-left">
            <df-option *ngFor="let opt of modal.data.managers; first as isFirst"
                       [value]="opt"
                       [selected]="isFirst">
              {{ opt.printableName }}
            </df-option>
          </df-select>
          <df-validation-messages [control]="form.controls.selectedManager">
          </df-validation-messages>
        </div>
      </div>
      <div class="d-flex w-100 pull-left">
        <div class="d-flex flex-column w-100 col">
          <label>
            New Note
          </label>
          <df-input-container>
            <textarea formControlName="note"
                      placeholder="Please enter the note here">
            </textarea>
          </df-input-container>
          <df-validation-messages [control]="form.controls.note">
          </df-validation-messages>
        </div>
      </div>
    </form>
  </ng-container>
</div>
<ng-template #loader>
  <div class="my-4 loader">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</ng-template>
<div
   *ngIf="isAccountManager$ | async"
   class="w-100 d-flex align-items-center justify-content-end p-4">
  <button df-button
          type="button"
          class="btn-primary mr-2"
          (click)="close(); submit()"
          [disabled]="form.invalid">
    <span>Save</span>
  </button>
  <button df-button
          type="button"
          class="btn-red mr-2"
          (click)="close()">
    <span>Cancel</span>
  </button>
</div>
