<div class="page-content">
  <form [formGroup]="form" class="standard-form" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-12 col-xl-10 offset-xl-1">
        <app-page-alert *ngIf="error" [text]="error" class="my-2"></app-page-alert>
        <p>In order to change your Password, you must first enter your old Password.</p>
        <p>
          <strong>A strong Password:</strong>
        </p>
        <ul>
          <li>
            is long (a minimum of 8 characters is required)
          </li>
          <li>
            is a combination of mixed case letters and at least one number or non-letter character.
          </li>
        </ul>
        <div class="form-row">
          <div class="col-12">
            <label>Old Password</label>
          </div>
          <div class="col-12">
            <df-input-container>
              <input type="password" placeholder="Enter your current password here" formControlName="oldPassword">
            </df-input-container>
            <df-validation-messages [control]="form.controls.oldPassword"></df-validation-messages>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <label>New Password</label>
          </div>
          <div class="col-12">
            <df-input-container>
              <input type="password" placeholder="Enter new password here" formControlName="newPassword">
            </df-input-container>
            <app-password-strength [passwordToCheck]="form.value.newPassword"></app-password-strength>
            <df-validation-messages [control]="form.controls.newPassword" [validationMessagesMap]="passwordMessages"></df-validation-messages>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <label>New Password Retype</label>
          </div>
          <div class="col-12">
            <df-input-container>
              <input type="password" placeholder="Retype new password here" formControlName="newPasswordRetype">
            </df-input-container>
            <df-validation-messages [control]="form.controls.newPasswordRetype" [class.d-none]="form.controls.newPasswordRetype.valid"></df-validation-messages>
            <df-validation-messages [control]="form" [class.d-none]="!form.controls.newPasswordRetype.valid"></df-validation-messages>
          </div>
        </div>
        <button class="d-block ml-auto w-100 w-md-auto" type="submit" df-button theme="success" [loading]="saving" loaderPosition="after">Update Password</button>
      </div>
    </div>
  </form>
</div>
