<div class="full-img guidelines-img">
  <div class="overlay black20"></div>
  <div class="stripes"></div>
  <div class="full-img-heading-container text-center">
    <h1 class="full-img-heading">Guidelines
      <span class="blue">for Success</span>
    </h1>
    <p class="full-img-subline">
      We’ve implemented these guidelines for transparency and for both your success and that of your hiring manager. Please carefully
      read the guidelines below to avoid unnecessary disputes and to ensure productivity and transparency with your hiring
      manager.
    </p>
    <p class="full-img-subline">
      We understand we’re all human and that we all have personal needs and break time. Following these guidelines will ensure
      success.
    </p>
    <p class="full-img-subline">

      The goal of WorkSmart is to get insights and feedback on productivity that match activities and objectives and improve progress
      on those goals.
    </p>
    <p class="full-img-subline">
      If you have any questions or concerns, you can contact productivity@crossover.com at any time.
    </p>
  </div>
</div>

<div class="guideline-block text-center">
  <h2 class="guideline-block__heading">Billing and Payment Timeline</h2>
  <p class="block-main-text">
    The Crossover work week starts at 00:00 UTC-0
    <br> on Mondays and concludes at 23:59 UTC-0 on Sundays.
    <br> The weekly timeline for billing and payment will occur as follows:
  </p>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 my-4">
        <div class="round-icon">
          <i class="fa fa-calendar fa-fw"></i>
        </div>
        <h3 class="mt-2 mb-4">Week 1</h3>
        <p class="font-light">
          You track your time using the WorkSmart between Monday and Sunday.
        </p>
      </div>
      <div class="col-lg-4 my-4">
        <div class="round-icon">
          <i class="fa fa-eye fa-fw"></i>
        </div>
        <h3 class="mt-2 mb-4">Week 2</h3>
        <p class="font-light">
          Your logged time bills to your client on Monday and is simultaneously reviewed by the Crossover Productivity Team throughout
          the week. They will be raising any issues directly to you for review.
        </p>
      </div>
      <div class="col-lg-4 my-4">
        <div class="round-icon">
          <i class="fa fa-credit-card fa-fw"></i>
        </div>
        <h3 class="mt-2 mb-4">Week 3</h3>
        <p class="font-light">
          Your net payments will become available on Wednesday of this week.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="guideline-block guideline-block--stripped">
  <div class="stripes"></div>
  <div class="guideline-block__content container">
    <h2 class="guideline-block__heading">Grace Time</h2>
    <div class="block-main-text">
      <p class="text-center">
        The Productivity Team will allow for 60 minutes of “grace time”.
        <br> In other words, if less than 60 minutes of your billed time is associated with any of the behavior explained below,
        you will not be flagged for review.
      </p>
      <p class="text-center">
        <em>Note: Neither the 60 minute grace period nor Overtime will compensate for Webcam Policy non-compliance.</em>
      </p>
      <p class="text-center">
        Please note that “Virtual Timecard” or “Timecard” refers to a combination of one screenshot and one webcam shot taken at
        random intervals every 10 minutes. Timecards will be displayed in the contractor’s Log Book.
      </p>
    </div>
  </div>
</div>

<div class="guideline-block">
  <h2 class="guideline-block__heading">Two-Week Onboarding Period</h2>
  <div class="block-main-text container">
    <p class="text-center">
      We understand that logging hours and measuring productivity may be an unfamiliar concept for many. Therefore, we want to
      give you some time to understand the intricacies of WorkSmart as well as have some time to learn how things work.
    </p>
    <p class="text-center">
      Here are some
      <a routerLink="../faq/candidate">FAQs</a> related to WorkSmart that you will want to review
    </p>
    <p class="text-center">
      The following data will help guide you as you navigate your schedule, time logging, and productivity insights with WorkSmart.
    </p>
  </div>
</div>

<div class="guideline-block guideline-block--stripped">
  <div class="stripes"></div>
  <div class="guideline-block__content container">
    <h2 class="guideline-block__heading">Dispute Categories</h2>
    <div class="container-fluid">
      <p class="text-center">
        Below you will find a comprehensive list of the various computer activities that will initiate a dispute and are best avoided.
      </p>
    </div>
  </div>
</div>

<div class="dispute-categories">
  <ul class="dispute-categories__items">
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center order-lg-2 text-lg-right">
            <div class="mb-0 mb-lg-5">
              <h3>
                Other Job
              </h3>
              <p> This may seem obvious, but it’s considered unethical to bill one employer while working for another. “Other
                job” includes any activity related to another contract or job that is performed while logging time. While
                working for Crossover clients it is expected that you’re billing time for Crossover clients only. Working
                from another job's offices is not allowed while working for Crossover clients due to proprietary and sensitive
                information issues. Internet Cafes, Co-working spaces, libraries and other public places are acceptable.
                <em> * Credit or overtime does not offset this category </em>
              </p>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/other-job.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center">
            <div class="mb-0 mb-lg-5">
              <h3>
                Surfing and Gaming
              </h3>
              <p class="pr-1"> Includes 1 or more Timecards spent on non-work related websites and programs. iTunes and Spotify Timecards
                will not be disputed unless they appear consecutively.
              </p>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/surfing-and-gaming.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center order-lg-2 text-lg-right">
            <div class="mb-0 mb-lg-5">
              <h3>
                Extended Email Usage
              </h3>
              <p class="pl-5"> Includes 3 or more consecutive Timecards of a main email screen. This is intended to identify contractors who
                are simply waiting for emails to come into their inbox. Contractors will not be flagged for writing or responding
                to emails. </p>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/extended-email-usage.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center">
            <div class="mb-0 mb-lg-5">
              <h3>Idling</h3>
              <p>Includes the following:</p>
              <ul>
                <li>3 or more consecutive Timecards that display identical screenshots</li>
                <li>2 or more consecutive login screens displayed on the Timecards</li>
                <li>2 or more consecutive or 5 or more non-consecutive Timecards that display black screens and blank Active
                  Window details
                </li>
                <li>Any Timecard that says "Screensaver (Idle)”*</li>
                <li>Any Timecard that is being billed but is missing the Timecard*</li>
              </ul>
              <p>*These situations will not be disputed if the activity level has 5 or more bars.</p>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/idling.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center order-lg-2 text-lg-right">
            <div class="mb-0 mb-lg-5">
              <h3>
                Identical Timecards (Switching)
              </h3>
              <p>Includes 5 or more non-consecutive Timecards that are exactly identical on any given day.</p>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/identical-timecard.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
            <div class="mb-0 mb-lg-5">
              <h3>
                Improper Manual Time Entries
              </h3>
              <p>Includes 1 or Timecards of Manual Time that do not comply with the following guidelines:</p>
              <ul class="manual-time-entry-list">
                <li>Before submitting manual time, reach out to your immediate manager for authorization. Please provide your
                  manager with both the reason and the amount of time that will be added.</li>
                <li>Manual time cannot be added for previous weeks. Be sure to submit manual time before the end of the current
                  work week so that we can make sure you get paid for your hard work.</li>
                <li>When you enter manual time in your Logbook, be sure to include the following:
                  <ul class="manual-time-entry-sublist">
                    <li>The reason you are entering manual time</li>
                    <li>The task completed during that time</li>
                    <li>The complete name of the authorizing manager OR the support ticket number as authorization for technical
                      issues. Be sure to explicitly state if you received authorization from your manager in your memo.</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <img class="col-lg-7" src="/assets/images/guidelines/improper-manual-time-entries.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center order-lg-2 text-lg-right">
            <div class="mb-0 mb-lg-5">
              <h3>
                Reviewing
              </h3>
              <p>
                Includes 2 or more consecutive or 5 or more non-consecutive Timecards of a contractor's own Log Book. This will not be applied
                to supervisors who are viewing their teams’ Log Books.
              </p>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/reviewing.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center">
            <div class="mb-0 mb-lg-5">
              <h3>
                Distractions
              </h3>
              <p>Includes the following:</p>
              <ul>
                <li>2 or more consecutive or 5 or more non-consecutive Timecards of cell phone use</li>
                <li>3 or more consecutive Timecards in which the contractor is not present</li>
                <li>Any Timecard displaying a contractor who is driving, nursing a child, or sleeping</li>
              </ul>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/distractions.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center order-lg-2 text-lg-right">
            <div class="mb-0 mb-lg-5">
              <h3>
                Low Activity
              </h3>
              <p>Includes 2 or more consecutive or 5 or more non-consecutive Timecards with an activity level less than 11%.
                Contractors who are on a call or meeting, watching work related training videos, or downloading or uploading
                large work-related files (> 30MB) will not be flagged.
              </p>
            </div>
          </div>
          <img class="col-lg-8" src="/assets/images/guidelines/low-activity.png">
        </div>
      </div>
    </li>
    <li class="dispute-categories__item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div class="mb-0 mb-lg-5">
              <h3>
                Webcam Policy
              </h3>
              <p>Includes the following:</p>
              <ul>
                <li>Instances in which the webcam is not being used consistently throughout the day</li>
                <li>2 or more consecutive or 5 or more non-consecutive digitized Webcam shots in a day</li>
                <li>Webcam shots that don’t capture the contractor's entire face</li>
                <li>Webcam shots that are taken during the day but are extremely dark. Darker images will not be disputed when
                  contractors are working during the night.</li>
              </ul>
              <em>Please note that neither the 60 minute grace period nor Overtime will compensate for Webcam Policy non-compliance.</em>
            </div>
          </div>
          <img class="col-lg-6" src="/assets/images/guidelines/webcam-policy.png">
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="guideline-block guideline-block--stripped">
  <div class="stripes"></div>
  <div class="guideline-block__content container">
    <h2 class="guideline-block__heading">Websites and Applications</h2>
    <div class="container-fluid">
      <p class="text-center">
        If you have questions about which specific websites or applications the Productivity Team may flag, please consult the list
        below. Although this list is by no means exhaustive, we hope that it will help you feel confident regarding your
        computer activity.
      </p>
    </div>
  </div>
</div>

<div class="guideline-block">
  <div class="guideline-block__content container">
    <h2 class="guideline-block__heading">Acceptable Work-Related Websites</h2>
    <div class="container-fluid">
      <div class="guideline-block__table row no-gutters d-md-none">
        <div class="col-md-4">
          <div class="guideline-block__table-item">Amazon</div>
          <div class="guideline-block__table-item">bit.ly</div>
          <div class="guideline-block__table-item">Codesion.com</div>
          <div class="guideline-block__table-item">Comerica
            <span class="blue">*</span>
          </div>
          <div class="guideline-block__table-item">Currency converter websites</div>
          <div class="guideline-block__table-item">CX.com</div>
          <div class="guideline-block__table-item">eBay</div>
        </div>
        <div class="col-md-4">
          <div class="guideline-block__table-item">Google Talk</div>
          <div class="guideline-block__table-item">imo.com
            <span class="blue">**</span>
          </div>
          <div class="guideline-block__table-item">Intacct</div>
          <div class="guideline-block__table-item">Laptoplunches</div>
          <div class="guideline-block__table-item">LastPass</div>
          <div class="guideline-block__table-item">Office365
            <span class="blue">**</span>
          </div>
          <div class="guideline-block__table-item">Google (Sites, Docs, Mail)</div>
        </div>
        <div class="col-md-4">
          <div class="guideline-block__table-item">randpass.com</div>
          <div class="guideline-block__table-item">Remote Desktop</div>
          <div class="guideline-block__table-item">Salesforce</div>
          <div class="guideline-block__table-item">Transact</div>
          <div class="guideline-block__table-item">Yahoo Search Engine</div>
          <div class="guideline-block__table-item">Yandex</div>
          <div class="guideline-block__table-item">Zendesk</div>
        </div>
      </div>

      <table class="w-100 d-none d-md-table">
        <tbody>
          <tr>
            <td class="guideline-block__table-item">Amazon</td>
            <td class="guideline-block__table-item">Google Talk</td>
            <td class="guideline-block__table-item">randpass.com</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">bit.ly</td>
            <td class="guideline-block__table-item">imo.com
              <span class="blue">**</span>
            </td>
            <td class="guideline-block__table-item">Remote Desktop</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Codesion.com</td>
            <td class="guideline-block__table-item">Intacct</td>
            <td class="guideline-block__table-item">Salesforce</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Comerica
              <span class="blue">*</span>
            </td>
            <td class="guideline-block__table-item">Laptoplunches</td>
            <td class="guideline-block__table-item">Transact</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Currency converter websites</td>
            <td class="guideline-block__table-item">LastPass</td>
            <td class="guideline-block__table-item">Yahoo Search Engine</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">CX.com</td>
            <td class="guideline-block__table-item">Office365
              <span class="blue">**</span>
            </td>
            <td class="guideline-block__table-item">Yandex</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">eBay</td>
            <td class="guideline-block__table-item">Google (Sites, Docs, Mail)</td>
            <td class="guideline-block__table-item">Zendesk</td>
          </tr>
        </tbody>
      </table>
      <div class="guideline-block__comments text-left my-4">
        <p>
          <span class="blue">*</span> The finance department uses website to process ACH payments. This site blocks Timecards so they will appear
          black when logged into Comerica. </p>
        <p>
          <span class="blue">**</span> These websites will not be flagged as long as they are being used in a work-related manner. </p>
      </div>
    </div>
  </div>
</div>

<div class="guideline-block guideline-block--blue">
  <div class="guideline-block__content container">
    <h2 class="guideline-block__heading">Unacceptable Surfing and Gaming Websites</h2>
    <p class="block-main-text text-center">
      Please note that this list is not exhaustive. The Productivity Team will exercise discretion according to the guidelines
      <br> outlined above as well as Crossover’s philosophies.
    </p>
    <div class="container-fluid">
      <div class="guideline-block__table row no-gutters d-md-none">
        <div class="col-md-4">
          <div class="guideline-block__table-header">Social Media</div>
          <div class="guideline-block__table-item">Digg</div>
          <div class="guideline-block__table-item">Facebook</div>
          <div class="guideline-block__table-item">Livejournal.com</div>
          <div class="guideline-block__table-item">MySpace</div>
          <div class="guideline-block__table-item">Reddit</div>
          <div class="guideline-block__table-item">Tagged</div>
          <div class="guideline-block__table-item">Twitter</div>
          <div class="guideline-block__table-item">Yahoo Buzz</div>
          <div class="guideline-block__table-item">Youtube</div>
        </div>
        <div class="col-md-4">
          <div class="guideline-block__table-header">Music Related Sites</div>
          <div class="guideline-block__table-item">AOL Music</div>
          <div class="guideline-block__table-item">Grooveshark</div>
          <div class="guideline-block__table-item">Jango</div>
          <div class="guideline-block__table-item">Last.FM</div>
          <div class="guideline-block__table-item">MySpace Music</div>
          <div class="guideline-block__table-item">Pandora</div>
          <div class="guideline-block__table-item">Rhapsody</div>
          <div class="guideline-block__table-item">Tunein</div>
          <div class="guideline-block__table-item">Yahoo Music</div>
        </div>
        <div class="col-md-4">
          <div class="guideline-block__table-header">Other</div>
          <div class="guideline-block__table-item">Apple App Store</div>
          <div class="guideline-block__table-item">Blog Sites</div>
          <div class="guideline-block__table-item">Game Sites</div>
          <div class="guideline-block__table-item">Manycam</div>
          <div class="guideline-block__table-item">News Sites</div>
          <div class="guideline-block__table-item">Paypal</div>
          <div class="guideline-block__table-item">Personal Emails</div>
          <div class="guideline-block__table-item">Personal Skype
            <span class="blue">*</span>
          </div>
          <div class="guideline-block__table-item">Skrill</div>
        </div>
      </div>

      <table class="w-100 d-none d-md-table">
        <thead>
          <tr>
            <th class="guideline-block__table-header">Social Media</th>
            <th class="guideline-block__table-header">Music Related Sites</th>
            <th class="guideline-block__table-header">Other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="guideline-block__table-item">Digg</td>
            <td class="guideline-block__table-item">AOL Music</td>
            <td class="guideline-block__table-item">Apple App Store</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Facebook</td>
            <td class="guideline-block__table-item">Grooveshark</td>
            <td class="guideline-block__table-item">Blog Sites</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Livejournal.com</td>
            <td class="guideline-block__table-item">Jango</td>
            <td class="guideline-block__table-item">Game Sites</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">MySpace</td>
            <td class="guideline-block__table-item">Last.FM</td>
            <td class="guideline-block__table-item">Manycam</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Reddit</td>
            <td class="guideline-block__table-item">MySpace Music</td>
            <td class="guideline-block__table-item">News Sites</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Tagged</td>
            <td class="guideline-block__table-item">Pandora</td>
            <td class="guideline-block__table-item">Paypal</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Twitter</td>
            <td class="guideline-block__table-item">Rhapsody</td>
            <td class="guideline-block__table-item">Personal Emails</td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Yahoo Buzz</td>
            <td class="guideline-block__table-item">Tunein</td>
            <td class="guideline-block__table-item">Personal Skype
              <span class="blue">*</span>
            </td>
          </tr>
          <tr>
            <td class="guideline-block__table-item">Youtube</td>
            <td class="guideline-block__table-item">Yahoo Music</td>
            <td class="guideline-block__table-item">Skrill</td>
          </tr>
        </tbody>
      </table>
      <div class="guideline-block__comments text-left my-4">
        <p>
          <span>*</span> Because we are aware that you may use Skype for work, the Productivity Team will use discretion when reviewing
          Skype-related activity.</p>
        <p>
      </div>
    </div>
  </div>
</div>

<div class="guideline-block guideline-block--gray">
  <div class="guideline-block__content container">
    <h2 class="guideline-block__heading">Unacceptable Software</h2>
    <div class="container-fluid">
      <p class="text-center">
        Manycam, HideMyIP, CamDecoy.com, Youcam or any software that can be used to manipulate the Webcam data feed to the WorkSmart.
        This software normally comes pre-installed as third-party add-ons and just needs to be disabled when logging time.
        Instructions on how to disable this software can be found by searching in Google.
      </p>
    </div>
  </div>
</div>

<div class="thankyou text-center">
  <div class="container">
    <div class="form-row">
      <div class=" col-lg-7">
        <div class="thankyou__text">
          <h3>Thank You!</h3>
          <p> We hope that you enjoy the unbelievable potential of WorkSmart. If you have any further questions, please contact
            <a href="mailto:productivity@crossover.com">productivity@crossover.com</a>
            <br>
            <br> If you have any technical issues, please contact
            <a href="https://support.crossover.com" target="_blank">Support</a>
          </p>
        </div>
      </div>
      <div class="col-lg-5 text-lg-left text-center">
        <img class="mt-1 mt-lg-0 ml-lg-0 ml-4" src="/assets/images/guidelines/thankyou.png">
      </div>
    </div>
  </div>
</div>
