<div class="login-wrapper">
    <div class="login">
      <div class="login__header">
          <img class="login__logo" src="/assets/crossover-white.svg" alt="Crossover">
      </div>
      <div class="login__form-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="login-footer">
    <img class="login-footer__img" src="/assets/aurea-logo-white.svg">
    <div class="login-footer__copyright">
      <span>Crossover</span><br>
      <span>&copy;2018 Aurea, Inc.</span><br>
    </div>
  </div>
