<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-page-alert *ngIf="error" [text]="error" class="my-3"></app-page-alert>
      <df-card>
        <df-card-content>

          <div class="connect-ws-icon"></div>
          <div class="onboarding__steps">
            <div class="onboarding__step onboarding__step--active"></div>
            <div class="onboarding__step onboarding__step--inactive"></div>
            <div class="onboarding__step onboarding__step--inactive"></div>
            <div class="onboarding__step onboarding__step--inactive"></div>
            <div class="onboarding__step onboarding__step--inactive"></div>
            <strong>Step 1</strong>
          </div>

          <h1>Integrate your account with Worksmart</h1>
          <p>
            WorkSmart is our trusted productivity and time tracking tool. You will use it on a daily basis to log billable time and to
            promote fairness and transparency during our collaboration.
          </p>
          <p></p>

          <form [formGroup]="form" class="standard-form" (submit)="onSubmit()">
            <div class="form-row">
              <div class="col-sm-8">
                <label>Input your password to confirm integration</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-8">

                <df-input-container>
                  <input type="password" formControlName="password" placeholder="Type here...">
                </df-input-container>
                <df-validation-messages [control]="form.get('password')"></df-validation-messages>
              </div>
              <div class="col-sm-4">
                <button type="submit" class="w-100" df-button theme="info" loaderPosition="after" [loading]="isPending">CONFIRM</button>
              </div>
            </div>
          </form>
        </df-card-content>
      </df-card>
    </div>
    <div class="col-3 d-none d-md-flex align-items-center pr-0">
      <div class="onboarding__office-icon"></div>
    </div>
  </div>
</div>
