.connect-ws-icon {
  margin: 50px auto;
  background-image: url('/assets/images/candidate/onboarding-process/connect-worksmart.svg');
  height: 91px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
