<form [formGroup]="form" class="standard-form" (submit)="onSubmit()">
  <div>
    <label>Company</label>
    <df-input-container>
      <input type="text" formControlName="company" placeholder="Company..." />
    </df-input-container>
    <df-validation-messages [control]="form.get('company')"></df-validation-messages>
  </div>
  <div>
    <label>City</label>
    <df-input-container>
      <input type="text" formControlName="city" placeholder="City..." />
    </df-input-container>
    <df-validation-messages [control]="form.get('city')"></df-validation-messages>
  </div>
  <div>
    <label>Country</label>
    <df-select formControlName="country" placeholder="Country">
      <df-option [value]="undefined">- Unspecified -</df-option>
      <df-option *ngFor="let country of countries" [value]="country" [displayText]="country.name">{{country.name}}</df-option>
    </df-select>
    <df-validation-messages [control]="form.get('country')"></df-validation-messages>
  </div>
  <div>
    <label>Title</label>
    <df-input-container>
      <input type="text" formControlName="title" placeholder="Title..." />
    </df-input-container>
    <df-validation-messages [control]="form.get('title')"></df-validation-messages>
  </div>
  <div>
    <label>Job Role</label>
    <df-select formControlName="role" placeholder="Select a job role...">
      <df-option *ngFor="let role of roles" [value]="role" [displayText]="role">{{role}}</df-option>
    </df-select>
    <df-validation-messages [control]="form.get('role')"></df-validation-messages>
  </div>
  <label>Period</label>
  <div class="form-row">
    <div class="col-md-4">
      <df-datepicker formControlName="startDate" placeholder="Start Date..."></df-datepicker>
      <df-validation-messages [control]="form.get('startDate')"></df-validation-messages>
    </div>
    <ng-container *ngIf="!form.value.current">
      <div class="col-md-1 text-center d-none d-md-block">
        -
      </div>
      <div class="col-md-4">
        <df-datepicker formControlName="endDate"  placeholder="End Date..."></df-datepicker>
        <df-validation-messages [control]="form.get('endDate')"></df-validation-messages>
      </div>
    </ng-container>
    <div class="col-md-3">
      <df-checkbox formControlName="current">I currently work here</df-checkbox>
      <df-validation-messages [control]="form.get('current')"></df-validation-messages>
    </div>
  </div>
  <div>
    <label>Description</label>
    <df-input-container>
      <textarea formControlName="description" placeholder="Description..." class="w-100"></textarea>
    </df-input-container>
    <df-validation-messages [control]="form.get('description')"></df-validation-messages>
  </div>
  <div class="d-flex">
    <button class="mr-2" type="submit" df-button theme="info">Save</button>
    <button class="mr-2" type="button" df-button theme="danger" (click)="cancel.emit()">Cancel</button>
    <button
      class="mr-2"
      type="button"
      df-button theme="danger"
      (click)="onDelete(this.form.value)"
      *ngIf="this.form.value.id !== null">Remove this employment</button>
  </div>
</form>
