.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #869082;
}

::ng-deep {
  .df-group-toggle__item {
    width: 215px;
  }
  .df-group-toggle__btn {
    width: 100%;
  }
}
