<app-placeholder-bar-chart *ngIf="isLoading; else chart"></app-placeholder-bar-chart>
<ng-template #chart>
  <div class="d-flex align-items-center mb-2 flex-wrap">
    <h4 class="mr-2 my-0">Time Logged</h4>
    <small>({{getFourWeeksTitle()}})</small>
  </div>
  <df-bar [data]="data"
          [margins]="margins"
          [valueTickFormatter]="tickFormatter"
          [colors]="colors"
          [padding]="0.4"
          [barAlignment]="horizontalAlignment"
          [tooltipTemplate]="tooltipTemplate"></df-bar>
</ng-template>
<ng-template #tooltipTemplate
             let-selected="selected">
  <div class="df-bar__tooltip">
    {{selected.yKey | durationFormat: 'hours':'h[h] m[m]' }}
  </div>
</ng-template>
