@import "variables";

:host {
  border-width: 1px;
  border-color: $au-blue;
  border-style: solid;
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
}

.page-alert {
  &__icon {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: $au-blue;
    color: #ffffff;
  }
  &__text {
    padding: 15px;
    align-items: center;
    text-align: left;
    color: $au-gray-main;
    width: 90%;
  }
}
