.payment-icon {
  margin: 50px auto;
  background-image: url('/assets/images/candidate/onboarding-process/setup-payment.svg');
  height: 113px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
