.background-check-icon {
  margin: 50px auto;
  background-image: url('/assets/images/candidate/onboarding-process/bkg-check.svg');
  height: 132px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
