<form [formGroup]="form" (submit)="onSubmit()" *ngIf="!success">
  <h4 class="mb-4">Forgot Password</h4>
  <app-page-alert *ngIf="error" [text]="error" class="mb-2"></app-page-alert>
  <div>
    <df-input-container>
      <input type="text" formControlName="email" placeholder="Email">
    </df-input-container>
    <df-validation-messages [control]="form.get('email')"></df-validation-messages>
  </div>

  <button type="submit" class="d-block w-100" df-button theme="success"
  [loading]="pending"
  loaderPosition="after">Send</button>
  <div class="my-2 d-flex">
    <a [routerLink]="['../login']" class="back-to-login">
      <i class="fa fa-long-arrow-left"></i>
      Back to Login
    </a>
    <a routerLink="/support" class="ml-auto contact-support text-right">
      <i class="fa fa-envelope-o"></i>
      Contact Support
    </a>
  </div>
</form>
<div *ngIf="success">
  <p>
      Crossover will email you a link and instructions for updating your password. Please note that the link will expire in one hour.
  </p>
  <div class="my-2 d-flex">
      <a [routerLink]="['../login']" class="back-to-login">
        <i class="fa fa-long-arrow-left"></i>
        Continue to Login
      </a>
      <a routerLink="/support" class="ml-auto contact-support text-right">
        <i class="fa fa-envelope-o"></i>
        Contact Support
      </a>
    </div>
</div>
